# Parametri IVL
IVL_GIRONE_ID=910
IVL_TERRITORIO_ID=3
IVL_CAMPIONATO_ID=342
IVL_STAGIONE_INIZIO=2025-09-01T00:00:00.000Z
IVL_STAGIONE_FINE=2026-08-31T00:00:00.000Z

# Squadra da monitorare
SQUADRA_MONITORATA=Olimpia PB Basic

# Percorsi output
DATA_DIR=data
SITE_DIR=docs
LOG_DIR=logs
